# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/

# Raw and processed datasets
data/raw/*
data/processed/*

# Preserve empty data folders
!data/raw/.gitkeep
!data/processed/.gitkeep

# Power BI temporary files
*.tmp

# Operating-system files
.DS_Store
Thumbs.db
dashboard/*.pbix
